.flex-row, .footer .footer__container .footer__contact-container .footer__form-container, .footer .footer__container .footer__nav .footer__social, .footer .footer__container .footer__nav, .news .news__container .news__container-slider .news__slide .news__content .news__info-block, .news .news__container .news__container-slider .news__slide, .about .about__container .about-row, .home .header__container .header__social, .home .header__container .header__menu .header__nav-list, .home .header__container .header__menu, .home .header__container .header__nav, .home .header__container, .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column, .gallery .gallery__container .gallery__flex-container .gallery__row, .about .about__container .about-row .about-row__content, .about .about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page {
  font-family: "gothambold1";
  opacity: 0.8;
  min-width: 100vw;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 10px;
}

.button {
  width: 12em;
  height: 3em;
  background-color: #fff;
  text-transform: uppercase;
}
.button:hover {
  background-color: #5eb8fe;
}

.right {
  margin-left: 4em;
}

.left {
  margin-right: 4em;
  margin-left: 11em;
}

.slider {
  width: 60%;
  margin: 0 auto;
}

.margin-left {
  margin-left: 8em;
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
}
.home .header__container {
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.home .header__container .header__menu {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.home .header__container .header__menu .header__nav-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home .header__container .header__menu .header__nav-list .header__nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  display: block;
  padding-right: 4em;
  padding-top: 1em;
  text-transform: uppercase;
}
.home .header__container .header__menu .header__nav-list .header__nav-link:hover {
  font-size: 20px;
}
.home .header__container .header__social {
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home .header__container .header__social .header__social-link {
  font-size: 26px;
  border: 1px solid #fff;
  border-radius: 48%;
  width: 40px;
  height: 40px;
}
.home .header__container .header__social .fab {
  color: #fff;
  padding: 5px 9px;
}
.home .title__container {
  text-align: center;
  text-transform: uppercase;
  padding-top: 12rem;
}
.home .title__container .title {
  font-size: 80px;
  font-weight: 800;
}
.home .title__container .subtitle {
  font-size: 20px;
  padding-top: 22px;
}
.home .header__button-next {
  width: 3rem;
  height: 3rem;
  border: 1px solid #fff;
  padding: 0.5rem;
  text-align: center;
  border-radius: 100%;
  line-height: 2.2rem;
  margin: 0 auto;
  cursor: pointer;
  position: absolute;
  bottom: 3rem;
  left: calc(50% - 1.5rem);
}

.about .about__container .about__title {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  font-weight: 800;
  padding: 1em 0;
}
.about .about__container .about-row .about-row__content {
  padding-top: 6em;
}
.about .about__container .about-row .about-row__content .about-row__subtitle {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
}
.about .about__container .about-row .about-row__content .about-row__title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
}
.about .about__container .about-row .about-row__content .about-row__text {
  padding: 3em 0;
}

.news {
  background-image: url("../images/bg-news.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.news .news__container {
  width: 100%;
}
.news .news__container .news__container-title {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 2em;
}
.news .news__container .news__container-slider .news__slide {
  margin: 1em auto;
  width: 800px;
  height: 600px;
  background-color: #fff;
}
.news .news__container .news__container-slider .news__slide .news-img {
  width: 30em;
  height: 100%;
}
.news .news__container .news__container-slider .news__slide .news__content {
  margin: 3em 2em;
}
.news .news__container .news__container-slider .news__slide .news__content .news__title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 2em;
}
.news .news__container .news__container-slider .news__slide .news__content .news__info-block {
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3em;
}
.news .news__container .news__container-slider .news__slide .news__content .news__info-block .info-block__photo {
  width: 4em;
  height: 4em;
  border-radius: 50%;
}
.news .news__container .news__container-slider .news__slide .news__content .news__info-block .info-block__content {
  padding-left: 2em;
  padding-top: 1em;
}
.news .news__container .news__container-slider .news__slide .news__content .news__info-block .info-block__content .info-block__name {
  text-transform: uppercase;
}
.news .news__container .news__container-slider .news__slide .news__content .news__info-block .info-block__content .info-block__date {
  font-weight: 500;
  color: aqua;
}

.gallery {
  width: 100%;
  height: 100vh;
}
.gallery .gallery__container .gallery__title {
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 2em;
}
.gallery .gallery__container .gallery__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 73em;
  height: 28em;
  margin: 2em auto;
}
.gallery .gallery__container .gallery__flex-container .gallery__row-img {
  width: 37em;
  background-image: url("../images/gallery1.png");
  margin-right: 1em;
}
.gallery .gallery__container .gallery__flex-container .gallery__row {
  width: 37em;
}
.gallery .gallery__container .gallery__flex-container .gallery__row .gallery__block {
  width: 100%;
}
.gallery .gallery__container .gallery__flex-container .gallery__row .gallery__block .block-img {
  height: 14em;
}
.gallery .gallery__container .gallery__flex-container .gallery__row .gallery__block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .gallery__container .gallery__button {
  width: 10em;
  margin: 4em auto;
}

.footer {
  width: 100%;
  position: relative;
}
.footer #map {
  width: 100%;
  height: 40em;
  position: relative;
}
.footer .footer__container {
  width: 100%;
  background-image: url("../images/bg-footer.png");
  padding-top: 10rem;
  padding-bottom: 10rem;
  position: relative;
}
.footer .footer__container .footer__nav {
  width: 50em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 11em;
  margin: 0 auto;
}
.footer .footer__container .footer__nav .footer__social {
  width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer__container .footer__nav .footer__social .footer__social-link {
  font-size: 26px;
  border: 1px solid #fff;
  border-radius: 48%;
  width: 40px;
  height: 40px;
}
.footer .footer__container .footer__nav .footer__social .fab {
  color: #fff;
  padding: 5px 9px;
}
.footer .footer__container .footer__contact-container {
  background-color: #fff;
  position: absolute;
  width: 52rem;
  left: calc(50% - 26rem);
  top: -50%;
  padding: 5rem;
  z-index: 1000;
}
.footer .footer__container .footer__contact-container .footer__title {
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 2em;
  font-weight: 800;
  text-align: center;
}
.footer .footer__container .footer__contact-container .footer__form-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2em;
}
.footer .footer__container .footer__contact-container .footer__form-container .footer__contact {
  font-size: 16px;
}
.footer .footer__container .footer__contact-container .footer__form-container .footer__contact .contact {
  padding-bottom: 2em;
}
.footer .footer__container .footer__contact-container .footer__form-container .footer__form .form-input {
  margin-bottom: 1rem;
}
.footer .footer__container .footer__contact-container .footer__form-container .footer__form .form-input input {
  width: 100%;
  height: 4em;
  border: 0;
  border-bottom: 2px solid #c7c7c7;
}
.footer .footer__container .footer__contact-container .footer__form-container .footer__form .form-input input:focus,
.footer .footer__container .footer__contact-container .footer__form-container .footer__form .form-input input:focus-visible {
  border: 0;
  border-bottom: 2px solid #9c9b9b;
  outline: none;
}